*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 400px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
}

#userinput{
    border-style: 1px solid gray;
    height: 80px;
    width: 100%;
    border-radius: 5px;
}

.keypad{
    
    padding: 10px;
    height: 100%;
}

.keypad button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-style: none;
    margin: 10px 3px;

}


